{% extends 'Navbar.html' %}
{% block title %}
    My Network
{% endblock %}
{% block main %}
    <style>

        .my-connections-container {
            margin-top: 100px;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: left;
        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

            table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }
        }
    </style>
    <div class="container my-connections-container">
        <div class="row">
            <div class="col-md-9">
                <table>
                    <caption>My Connections ({{ myNetworks.connections.count }})</caption>
                    <tbody>
                    {% for friend in myNetworks.connections.all %}
                        <tr>
                            <td colspan="3">
                                <div style="display: inline-flex;">
                                    <img src="{{ friend.user_main_profile.profile_picture.url }}"
                                         alt="Profile Picture of Friend"
                                         style="width: 48px; height: 48px; border-radius: 60%; margin-right: 10px;">
                                    <h5 style="margin-top: 10px;">
                                        {{ friend.user_main_profile.fullName }}
                                    </h5>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-outline-primary" style="border-radius: 30px; font-weight: 500">
                                    Message
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <table>
                    <caption>My Connections ({{ myNetworks.connections.count }})</caption>
                    <tbody>
                    {% for friend in myNetworks.connections.all %}
                        <tr>
                            <td>
                                <div style="display: inline-flex;">
                                    <img src="{{ friend.user_main_profile.profile_picture.url }}"
                                         alt="Profile Picture of Friend"
                                         style="width: 48px; height: 48px; border-radius: 60%; margin-right: 10px;">
                                    <h5 style="margin-top: 10px;">
                                        {{ friend.user_main_profile.fullName }}
                                    </h5>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-outline-primary" style="border-radius: 30px; font-weight: 500">
                                    Message
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
