{% extends 'Navbar.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block main %}
<style>
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: center;
        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

            table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }
        }

        /* general styling */
        body {
            font-family: "Open Sans", sans-serif;
            line-height: 1.25;
        }
    </style>
    <div class='container' style="margin-top: 120px;">
        {% if research_papers %}
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Abstract</th>
                        {% if subscribed %}
                            <th>Download</th>
                        {% else %}
                            <th>Subscribe</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for paper in research_papers %}
                        <tr>
                            <td data-label="Title">{{ paper.title }}</td>
                            <td data-label="Author">{{ paper.author }}</td>
                            <td data-label="Abstract" title="{{ paper.preview }}">{{ paper.preview|truncatechars:100 }}</td>
                            {% if subscribed %}
                                <td data-label="Download"><a href="{% static paper.file %}" download>Download</a></td>
                            {% else %}
                                <td data-label="Subscribe">You didn't subscribe. 
                                    <a href="#" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#subscribeModal_{{ paper.id }}">Subscribe?</a>
                                </td>                                
                                <!-- Modal -->
                                <div class="modal fade" id="subscribeModal_{{ paper.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel_{{ paper.id }}">
                                            Bkash Payment QR
                                            <br>
                                            <p style="font-size: 12px; color: red; margin-bottom: 0;">
                                                Reference: (Email) ( You will get confirmation within 10minutes.)
                                            </p>
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">                                      
                                            <img src="https://raw.githubusercontent.com/Maloy-Baroi/svgFIles/main/qrcode.png" alt="QR" width="100%">
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% endif %}
                        </tr>
                    {% endfor %}
            </table>
        {% else %}
        <h2 class="alert-warning">No Paper Published</h2>
        {% endif %}
    </div>

{% endblock %}
